.mision--section {
	width: 100%;
	padding: 0px 20px;
	min-height: 50vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	background: rgb(37, 14, 126);
	margin-top: 50px;
	padding-bottom: 50px;
}

.mision--section--title {
	z-index: 3;
	position: relative;
	color: white;
	font-size: 4rem;
	text-align: start;
}
.mision--section--title--bg {
	background: #6169d9;
	padding: 60px;
	border-radius: 50%;
	position: absolute;
	z-index: -1;
	top: -15px;
	left: 0px;
}
.mision--section--title--span {
}
.mision--section--text {
	max-width: 900px;
	text-align: start;
	line-height: 30px;
	margin-top: 40px;
	font-size: 16px;
	color: white;
}
