@media (max-width: 767px) {
	.header {
		display: none;
	}
}
@media (min-width: 768px) {
	.header--mobile {
		display: none;
	}
	.hero--section {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: flex-start;
		padding: 0px 10rem;
		padding-top: 10%;
	}
	.hero--section--info {
		max-width: 650px;
		padding: 20px;
	}
	.hero--section--info--title {
		font-size: 8rem;
		padding: 10px 0px;
	}
	.hero--section--info--text {
		max-width: 600px;
		font-size: 1rem;
	}
	.hero--section--image {
		margin-top: 70px;
		width: calc(300px + 4vw);
	}

	/* SERVICES SECTION */
	.services--section--container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: auto;
		grid-gap: 20px;
		align-items: center;
		justify-items: center;
		margin-inline: auto;
	}
}

@media (min-width: 1300px) {
	/* SERVICES SECTION */
	.services--section--container {
		grid-template-columns: repeat(3, 1fr);
	}
}
