.services--section {
	width: 100%;
	min-height: 100vh;
	padding: 0px 20px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	padding-bottom: 50px;
	background: white;
}

.services--section--title {
	width: 100%;
	z-index: 3;
	position: relative;
	color: #250e7e;
	font-size: 40px;
	text-align: start;
	margin-bottom: 50px;
	font-weight: 500;
}

.services--section--subtitle {
	z-index: 3;
	position: relative;
	color: #250e7e;
	border-bottom: 3px solid #ff7a6b;
	font-size: 25px;
	text-align: start;
	padding-right: 20px;
	font-weight: 500;
	text-transform: uppercase;
	margin: 40px 0px 20px 0px;
}

.services--section--subtitle--review {
	width: 100%;
	color: #250e7e;
	font-size: 25px;
	text-transform: uppercase;
	text-align: center;
	margin: 0 auto;
	margin-top: 100px;
}

.services--section--container {
	width: 80%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	gap: 50px;
	margin: 30px 0px 80px 0px;
}
.services--section--card {
	width: 300px;
	max-height: 500px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 10px;
	border-radius: 8px;
	box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
		rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
		rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
	background-image: url("../img/gea/1.jpeg");
	background-size: contain;
	background-position: top;
	background-repeat: repeat-y;
	transition: all 0.3s ease-in-out;
}
.services--section--card:hover,
.services--section--card--special:hover {
	transform: scale(1.03);
	box-shadow: rgba(0, 0, 0, 0.196) 0px 1px 2px,
		rgba(0, 0, 0, 0.196) 0px 2px 4px, rgba(0, 0, 0, 0.196) 0px 4px 8px,
		rgba(0, 0, 0, 0.196) 0px 8px 16px, rgba(0, 0, 0, 0.196) 0px 16px 32px,
		rgba(0, 0, 0, 0.196) 0px 32px 64px;
}

.services--section--card--title {
	font-size: 12px;
	width: 100%;
	min-height: 50px;
	text-align: start;
	padding-bottom: 5px;
	font-weight: 500;
	color: #250e7e;
}
.services--section--card--special {
	width: 300px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 10px;
	border-radius: 8px;
	box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
		rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
		rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
	background-image: url("../img/gea/1.jpeg");
	background-size: contain;
	background-position: top;
	background-repeat: repeat-y;
	transition: all 0.3s ease-in-out;
}

.services--section--card--image {
	width: 100%;
	height: 100%;
	border-radius: 4px;
}
.services--section--card--image--special {
	width: 100%;
	height: 100%;
	border-radius: 4px;
}

@media (min-width: 600px) {
	.services--section--title {
		font-size: 60px;
	}
	.services--section--subtitle--review {
		width: 550px;
	}
	.services--section--card {
		width: 450px;
	}
	.services--section--card--title {
		font-size: 14px;
	}
	.services--section--card--special {
		width: 450px;
	}
}
@media (min-width: 1200px) {
	.services--section--container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: auto;
		grid-gap: 200px;
		align-items: self-start;
		justify-items: center;
		margin-inline: auto;
	}
	.services--section--title {
		font-size: 80px;
		max-width: 1000px;
	}
}
