.swiper {
	max-width: 280px;
	height: 100%;
	margin: 0 auto;
	margin-bottom: 60px;
}

.swiper-reviews {
	min-height: 280px;
}

.swiper-slide {
	height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 18px;
	background: #fff;
}

.swiper-slide-image {
	width: 100%;
	min-height: 300px;
	display: block;
	object-fit: contain;
	cursor: grab;
}

.swiper-button-next,
.swiper-button-prev {
	display: none;
}

.swiper-pagination-bullet-active {
	background: rgb(37, 14, 126) !important;
}

@media (min-width: 600px) {
	.swiper {
		max-width: 500px;
	}
	.swiper-slide-image {
		max-width: 450px;
	}
}
@media (min-width: 750px) {
	.swiper {
		max-width: 600px;
	}
	.swiper-button-next,
	.swiper-button-prev {
		display: unset;
		color: rgb(37, 14, 126);
	}
}
